@import url('reset.css');


/* ---------- Layout Styles ---------- */
body { color: #3f3f3f; font:62.5%/1.6em Verdana, Arial, Helvetica, sans-serif; background: url('/images/background.jpg') top left repeat-y fixed; }


/* ---------- Common Styles ---------- */
h1, h2, h3 { padding: 0 0 10px 0; font-weight:bold; color: #333; }
h2 { font-size: 1.5em; }
strong { font-weight: bold; }
hr { border: 0; border-bottom: 1px solid #e5e5e5; margin: 10px 0; }
p { margin: 0px 0 10px 0; }
ul { margin: 10px 0px; list-style: disc; }
ol { list-style: decimal; }

#nav {
  width: 50%;
  height: 35px;
  margin-left: 20px;
  padding-top: 34px;
  position: fixed;
  top: -20px;
  left: 0;
  background-color: #BCD2EE;
  z-index: 91;
  text-align: center;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -moz-box-shadow: 0px 0px 14px #BCD2EE;
  box-shadow: 0px 0px 14px #BCD2EE;
}

#nav a {
  font-size: 16px;
  color: #333;
  padding: 0 30px;
}

#wrap { z-index: 91; width: 100%; height: 100%; }

#overlay {
  width: 100%;
  height: 100%;
  background: #000 url('/images/overlay.jpg') bottom left no-repeat;
  z-index: 100;
  position: absolute;
  bottom: 0;
}

/*----------- Parallax ----------*/

.planet{
  height: 3300px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  width: 100%;
}

.planet.mercury{background: url(/images/planets/mercury.png) 0 0 no-repeat fixed; z-index: 27; background-position: 65% 1090px;}
.planet.venus{background: url(/images/planets/venus.png) 0 0 no-repeat fixed; z-index: 24; background-position: 78% 930px;}
.planet.earth{background: url(/images/planets/earth.png) 0 0 no-repeat fixed; z-index: 21; background-position: 72% 800px;}
.planet.mars{background: url(/images/planets/mars.png) 0 0 no-repeat fixed; z-index: 18; background-position: 88% 680px;}
.planet.jupiter{background: url(/images/planets/jupiter.png) 0 0 no-repeat fixed; z-index: 15; background-position: 75% 550px;}
.planet.saturn{background: url(/images/planets/saturn.png) 0 0 no-repeat fixed; z-index: 12; background-position: 90% 300px;}
.planet.uranus{background: url(/images/planets/uranus.png) 0 0 no-repeat fixed; z-index: 9; background-position: 89% 140px;}
.planet.neptune{background: url(/images/planets/neptune.png) 0 0 no-repeat fixed; z-index: 6; background-position: 75% 90px;}
.planet.pluto{background: url(/images/planets/pluto.png) 0 0 no-repeat fixed; z-index: 3; background-position: 72% 30px;}

#container { position: absolute; top: 50px; left: 0; z-index: 90; height: 3300px; }

.content { margin: 20px 20px 40px; padding-bottom: 3px; font-size: 14px; width: 50%; background: #BDFCC9; -moz-border-radius: 20px; border-radius: 20px; -moz-box-shadow: 0px 0px 14px #BDFCC9; box-shadow: 0px 0px 14px #BDFCC9; }
.content h1 { margin: 25px auto 0 auto; padding: 0; text-indent: -9999px; height: 55px; }
.content h2 { margin: 30px 0 5px 20px; }
.content p { margin: 10px 20px 16px 20px; padding: 0; }
.content img { margin: 12px 20px 12px 12px; float: right; border: 1px solid #000; }
.content.universe h1 { background: url('/images/heading_universe.png') top center no-repeat; }
.content.parallax h1 { background: url('/images/heading_parallax.png') top center no-repeat; }
.content.infinity h1 { background: url('/images/heading_infinity.png') top center no-repeat; }

a { text-decoration: underline; color: blue; }
a:hover { text-decoration: none; }

.fat { font-weight: bold; font-size: 32px; display: block; margin: 30px 0; }
