@import url('reset.css');


/* ---------- Layout Styles ---------- */
body { color: #3f3f3f; font:62.5%/1.6em Verdana, Arial, Helvetica, sans-serif; }

#container { font-size:1.2em; width:960px; margin: 0 auto; }
#footer{ display: block; clear: both; }



/* ---------- Common Styles ---------- */
a { text-decoration:underline; color:#fdb63b; }
a:hover { text-decoration: none; }
h1, h2, h3 { padding: 0 0 10px 0; font-weight:bold; color: #333; }
h1 {color: #3f87c0; font-size:1.7em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.2em; font-weight: bold; }
h4 { font-size: 1.0em; }
strong { font-weight: bold; }
hr { border: 0; border-bottom: 1px solid #e5e5e5; margin: 10px 0; }
p { margin: 0px 0 10px 0; }
ul { margin: 10px 0px; list-style: disc; }
ol { list-style: decimal; }

.clear { display: block; clear: both; }
.hidden { display: none; }
.top { text-align: right; font-size: 0.9em; padding: 10px; }



/* ---------- Main Navigation Styles ---------- */
ul#navigation { margin:0; list-style: none; }
	ul#navigation li { float: left; display:inline; }
		ul#navigation li a { display:block; }
		ul#navigation li a:hover, ul#navigation li a.selected { background-position: 0 -57px !important; }




/*---------- FoRMS STYLeS	----------*/
#contactform { display: block; }
  #contactform ul { margin: 0; list-style: none; }
    #contactform ul li { display: block; }
      #contactform ul li label { width: 108px; display: inline-block; vertical-align: top; }
      #contactform ul li input { padding: 3px 5px; width: 251px; border: 0; }
      #contactform ul li textarea { padding: 2px 5px; border: 0; width: 250px; }
       #contactform ul li.buttons input { padding: 0; }


	.errorExplanation { margin: 50px 0 0 0; }
	.errorExplanation ul li { color: #ee1d25; margin: 0 0 0 20px; font-style: italic; }

/*----------- Parallax ----------*/
.background{
  display: block;
  height: 3000px;
  background: url('/images/background2.jpg') top left repeat-y;
  position: absolute;
  width: 100%;
}

.planet{
  display: block;
  height: 3000px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  width: 100%;
}

.planet.mercury{background: url(/images/planets/mercury.png) 0 0 no-repeat fixed; z-index: 27; background-position: 65% 1090px;}
.planet.venus{background: url(/images/planets/venus.png) 0 0 no-repeat fixed; z-index: 24; background-position: 78% 930px;}
.planet.earth{background: url(/images/planets/earth.png) 0 0 no-repeat fixed; z-index: 21; background-position: 72% 800px;}
.planet.mars{background: url(/images/planets/mars.png) 0 0 no-repeat fixed; z-index: 18; background-position: 88% 680px;}
.planet.jupiter{background: url(/images/planets/jupiter.png) 0 0 no-repeat fixed; z-index: 15; background-position: 75% 550px;}
.planet.saturn{background: url(/images/planets/saturn.png) 0 0 no-repeat fixed; z-index: 12; background-position: 90% 300px;}
.planet.uranus{background: url(/images/planets/uranus.png) 0 0 no-repeat fixed; z-index: 9; background-position: 89% 140px;}
.planet.neptune{background: url(/images/planets/neptune.png) 0 0 no-repeat fixed; z-index: 6; background-position: 75% 90px;}
.planet.pluto{background: url(/images/planets/pluto.png) 0 0 no-repeat fixed; z-index: 3; background-position: 72% 30px;}

#container { position: absolute; top: 0; left: 0; }

.content { margin: 20px 20px 40px 20px; padding-bottom: 3px; font-size: 14px; width: 68%; background: #BDFCC9; -moz-border-radius: 20px; border-radius: 20px; -moz-box-shadow: 0px 0px 14px #BDFCC9; }
.content h1 { margin: 25px auto 0 auto; padding: 0; text-indent: -9999px; height: 55px; }
.content h2 { margin: 30px 0 5px 20px; }
.content p { margin: 10px 20px 16px 20px; padding: 0; }
.content img { margin: 12px 20px 12px 12px; float: right; border: 1px solid #000; }
.content.universe h1 { background: url('/images/heading_universe.png') top center no-repeat; }
.content.parallax h1 { background: url('/images/heading_parallax.png') top center no-repeat; }
.content.infinity h1 { background: url('/images/heading_infinity.png') top center no-repeat; }

a { color: blue; }
