<li>
  <span>Miscellaneous</span>
  <ul>
    <li><a href="/admin/admins/">Administrators</a></li>
    <li><a href="/admin/tiny_mce_images/">Editor images</a></li>
    <% if use_analytics? %>
    <li><a href="/admin">Analytics dashboard</a></li>
    <% end %>
    <li><a href="/" target="_blank">View site</a></li>
  </ul>
</li>
