<section id="solar_section">
  <div class="background"></div>
  <div class="planet pluto" data-distance="5906376272" data-adjust="4380" data-x="72"></div>
  <div class="planet neptune" data-distance="4503443661" data-adjust="10100" data-x="75"></div>
  <div class="planet uranus" data-distance="2876679082" data-adjust="10100" data-x="89"></div>
  <div class="planet saturn" data-distance="643449370" data-adjust="4830" data-x="90"></div>
  <div class="planet jupiter" data-distance="438330000" data-adjust="6030" data-x="75"></div>
  <div class="planet mars" data-distance="228000000" data-adjust="3875" data-x="88"></div>
  <div class="planet earth" data-distance="149000000" data-adjust="2981" data-x="72"></div>
  <div class="planet venus" data-distance="108000000" data-adjust="2510" data-x="78"></div>
  <div class="planet mercury" data-distance="46000000" data-adjust="1255" data-x="65"></div>
  <div class="content">
    <h1>The Universe is truly badass!</h1>
    <p>Content here...</p>
  </div>
</section>
