<div id="container" style="margin-top: 25px;">
  <h1>Welcome to the HHD RoR template!</h1>
  <p>You are looking at the Homepage, located in <strong>./app/views/static/index.html.erb</strong></p>
  <p>You should delete (or edit) me and add your own view here!</p>
  <h2 style="margin-top: 25px;">Getting started</h2>
  <p>If this is your first HHD Rails app, I suggest you take at <strong>./README</strong> and also the contents of <strong>./doc/*.txt</strong> to get a general sense of what this template application gives you out-of-the-box.</p>
  <h2 style="margin-top: 25px;">Administration</h2>
  <p>If you've run migrations and seeded the database (<strong>rake db:seed</strong>), you can <a href="/admin">check out the CMS</a> with your Windows (LDAP) username and password.</p>
</div>
