<div id="nav">
  <a href="#universe">The Universe</a> - <a href="#parallax">Parallax</a> - <a href="#beyond">How I do it</a>
</div>
<div class="background"></div>
<div class="planet pluto" data-distance="5906376272" data-adjust="4380"></div>
<div class="planet neptune" data-distance="4503443661" data-adjust="10100"></div>
<div class="planet uranus" data-distance="2876679082" data-adjust="10100"></div>
<div class="planet saturn" data-distance="643449370" data-adjust="4830"></div>
<div class="planet jupiter" data-distance="438330000" data-adjust="6030"></div>
<div class="planet mars" data-distance="228000000" data-adjust="3875"></div>
<div class="planet earth" data-distance="149000000" data-adjust="2981"></div>
<div class="planet venus" data-distance="108000000" data-adjust="2510"></div>
<div class="planet mercury" data-distance="46000000" data-adjust="1255"></div>
<div id="container">
  <div class="content universe">
    <h1>The Universe is badass!</h1>
    <%= render :partial => "universe_content" %>
  </div>
  <div class="content parallax">
    <h1>...And so is parallax</h1>
    <%= render :partial => "parallax_content" %>
  </div>
  <div class="content infinity">
    <h1>To infinity and beyond!</h1>
    <%= render :partial => "infinity_content" %>
  </div>
</div>
