<section id="intro_section">
  <div class="background"></div><!--endDiv background-->
  <div class="planet pluto" data-distance="5906376272" data-adjust="1019" data-x="50"></div>
  <div class="planet neptune" data-distance="5906376272" data-adjust="1019" data-x="50"></div>
  <div class="planet uranus" data-distance="5906376272" data-adjust="1019" data-x="50"></div>
  <div class="planet saturn" data-distance="5906376272" data-adjust="1019" data-x="50"></div>
  <div class="planet jupiter" data-distance="5906376272" data-adjust="1019" data-x="50"></div>
  <div class="planet mars" data-distance="5906376272" data-adjust="1019" data-x="50"></div>
  <div class="planet earth" data-distance="5906376272" data-adjust="1019" data-x="50"></div>
  <div class="planet venus" data-distance="5906376272" data-adjust="1019" data-x="50"></div>
  <div class="planet mercury" data-distance="5906376272" data-adjust="1019" data-x="50"></div>
</section>
