<section id="intro_section">
  <div class="background"></div><!--endDiv background-->
  <div class="planet pluto" data-distance="5906376272" data-adjust="1019" data-x="85"></div>
  <div class="planet neptune" data-distance="4503443661" data-adjust="1019" data-x="80"></div>
  <div class="planet uranus" data-distance="2876679082" data-adjust="1019" data-x="75"></div>
  <div class="planet saturn" data-distance="1433449370" data-adjust="1019" data-x="70"></div>
  <div class="planet jupiter" data-distance="778330000" data-adjust="1019" data-x="65"></div>
  <div class="planet mars" data-distance="228000000" data-adjust="1019" data-x="70"></div>
  <div class="planet earth" data-distance="149000000" data-adjust="1019" data-x="60"></div>
  <div class="planet venus" data-distance="108000000" data-adjust="1019" data-x="70"></div>
  <div class="planet mercury" data-distance="46000000" data-adjust="1019" data-x="50"></div>
</section>
